@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  font-family: Arial, Helvetica, sans-serif;
}

.card{
  padding: 40px 15px;
  border-radius: 10px ;
  font-size: 27px ;
  font-weight: bold;
  width: 50%;
  color: white;
  margin: 15px 0;
  text-align: center;
}
.loading{
  background-color: gray;
  opacity: 0.7;
}